/* App.css */
.app-container {
  width: 100%;
}

.tabs-container {
  width: 100%;
  background-color: #ffe1e1;
  padding: 20px;
}

.tab-list {
  display: flex;
  align-items: center;
}

.heading {
  font-size: 32px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  margin-right: auto;
  margin-left: 30px;
  padding: 10px;
}

.tab {
  padding: 10px 20px;
  color: #333;
  font-weight: bold;
  transition: background-color 0.3s ease;
  background-color: #e2adf7;
}

.tab:hover {
  background-color: #e1e1e1;
}

.tab-panel {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.AboutUs{
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}

.parent {
  margin: 1rem;
  padding: 0.5rem 0.5rem;
  text-align: center;
}
.child {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
}

.middle{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding-bottom: 20px;
}