/* App.css */
.app-container {
  width: 100%;
}

.tabs-container {
  width: 100%;
  background-color: #ffe1e1;
  padding: 20px;
}

.tab-list {
  display: flex;
  align-items: center;
}

.heading {
  font-size: 40px;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  margin-right: auto;
  margin-left: 30px;
  padding: 10px;
}

.tab {
  padding: 10px 20px;
  color: #333;
  font-weight: bold;
  transition: background-color 0.3s ease;
  background-color: #e2adf7;
}

.tab:hover {
  background-color: #e1e1e1;
}

.tab-panel {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.AboutUs{
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}

.parent {
  margin: 1rem;
  padding: 0.5rem 0.5rem;
  text-align: center;
}
.child {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
}

.middle{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding-bottom: 20px;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.address-container {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

.address-container h3 {
  color: #333;
  font-size: 18px;
  font-weight: bold;
}

.address-container p {
  color: #666;
  font-size: 16px;
  margin-bottom: 10px;
}

.product-container {
  background-color: #e6f7ff;
  padding: 20px;
}

.product-container h3 {
  color: #333;
  font-size: 18px;
  font-weight: bold;
}

.product-container ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-top: 10px;
}

.product-container li {
  color: #666;
  font-size: 16px;
  margin-bottom: 5px;
}

.contact {
  background-color: #F2F9FF; /* Light blue background color */
  padding: 20px;
  text-align: center;
}

.contact h2 {
  color: #245C9E; /* Dark blue text color */
  font-size: 26px;
  margin-bottom: 10px;
}

.contact p {
  color: #245C9E; /* Dark blue text color */
  font-size: 18px;
  margin-bottom: 20px;
}

.contact ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

.contact li {
  color: #245C9E; /* Dark blue text color */
  font-size: 16px;
  margin-bottom: 10px;
}

